<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Task 2 Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheet/style.css">
    <!-- Font Awesome Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  </head>

  <body>
    <nav>
      <!-- Checkbox for toggling menu -->
      <input type="checkbox" id="check">

      <!-- Menu icon -->
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>

      <!-- Site logo -->
      <label class="logo">Task2Post</label>

      <!-- Navigation links -->
      <ul>
        <li><a class="#" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </nav>

    <div class="hero-box">
      <h1>Welcome to Our Website Task 2 Post</h1>
      <div class="Values">
        <p>Visitors Users <span><%= totalVisitors %></span></p>
        <p>Active Users <span><%= totalActiveUsers %></span> </p>
      </div>
      <h2>Join Our Bot And Use incerase Your Productivity</h2>
      <a href="https://t.me/BolBhidu_Bot" class="botLink">
        Join Your Productivity
      </a>
    </div>

    <!-- <div class="hero-box-bottum">
      <img src="./images/product.jpg" alt="">
      <img src="./images/17826.jpg" alt="">
      <img src="./images/product2.jpg" alt="">
    </div> -->

    <section>
      <div class="Uses">
        
        <h2>How Use Bot To Boast Your Productivity.</h2>
        <div class="Steps-use">
          <h3>Getting Started</h3>
          <ol>
            <li>Open Telegram and search for <strong><a href="https://t.me/BolBhidu_Bot">@task2post_bot.</a></strong></li>
            <li>Start a chat with the bot by clicking the <strong>Start</strong> button.</li>
            <li>Follow the instructions provided by the bot to begin creating your posts.</li>
          </ol>

          <h3>Sharing Posts</h3>
          <p>Once you have the generated posts, you can simply copy and paste them into your social media platforms such
            as LinkedIn, Facebook, and Twitter.</p>
        </div>


      </div>



      <div class="section">

        <span>Created By</span>
        <a class="Github" href="https://github.com/swan019/">
          SwapnilI019 ❤️
        </a>
      </div>
    </section>
    <script>


    </script>


  </body>

</html>